body {
  background-color: #3e5c76;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Login */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-header {
  font-size: 4rem;
  color: #ffffff;
  margin-bottom: 30px;
}

.login-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form div {
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.login-form input {
  width: 85%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #f6cf57;
  border: none;
  color: #ffffff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #4270a1;
}

.error-message {
  color: red;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}

.login-image {
  margin-top: 30px;
  max-width: 200px;
  height: auto;
}

/* Navbar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.navlinks-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.navbar a {
  color: whitesmoke;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.navbar a:hover {
  background-color: #555;
}

.navbar button {
  color: whitesmoke;
  background-color: #444;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.navbar button:hover {
  background-color: #666;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #333;
  color: whitesmoke;
  padding: 1rem;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.75s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
  overflow-y: auto;
}

.sidebar.open {
  right: 0;
}

.h3shiny {
  color: #f6cf57;
}

.selected-pokemon {
  background-color: whitesmoke;
  border-radius: 5%;
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
}

.selected-pokemon-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.selected-pokemon-text {
  padding: 0;
}

.sidebar img {
  height: 150px;
}

.sidebar button {
  padding: 5px 15px;
  background-color: #f6cf57;
  border: none;
  color: #ffffff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #e5b744;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.overlay.visible {
  display: block;
}

/* Home Component */

.home {
  color: #ffffff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home h1 {
  color: #f6cf57;
}

.home-filter {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home input[type="text"] {
  width: 20%;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.home select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: #333;
}

.home table {
  width: 100%;
  border-collapse: collapse;
  background-color: #3e5c76;
  color: #ffffff;
}

.home th,
.home td {
  padding: 1rem;
  text-align: left;
  min-width: 150px;
}

.home th {
  cursor: pointer;
}

.home th:hover {
  color: #f6cf57;
}

.home .pokemon-row {
  background-color: #3e5c76;
  color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.home .pokemon-row:hover {
  background-color: #f6cf57;
  color: #ffffff;
}

.home .pokemon-row img {
  height: 100px;
  width: auto;
}

.home .row-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.home .row-link td {
  padding: 0.5rem;
}

.home label {
  font-weight: bold;
  color: #ffffff;
}

.home select {
  margin-left: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
}

/* PokemonList */

.poke-list {
  background-color: #3e5c76;
  color: #ffffff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poke-list h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #f6cf57;
}

.poke-list label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #ffffff;
}

.poke-list input[type="checkbox"] {
  margin-right: 0.5rem;
}

.poke-list div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: 1.5rem;
}

.poke-list table {
  width: 100%;
  border-collapse: collapse;
}

.poke-list th,
.poke-list td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.poke-list th {
  cursor: pointer;
}

.poke-list th:hover {
  color: #f6cf57;
}

.poke-list .pokemon-row {
  background-color: whitesmoke;
  color: #333;
}

.poke-list .pokemon-row:hover {
  background-color: #f6cf57;
}

.poke-list .selected {
  background-color: #4270a1;
  color: #ffffff;
}

.poke-list .pokemon-row img {
  height: 50px;
  width: auto;
}

.poke-list .row-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.poke-list .row-link td {
  padding: 0.5rem;
}

.poke-list button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #f6cf57;
  border: none;
  color: #333;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.poke-list button:hover {
  background-color: #e5b744;
}

.poke-list map {
  height: 120px;
  width: 250px;
  border-radius: 4px;
  overflow: hidden;
}

/* User Details Component */

.user-details {
  color: #ffffff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details h2,
.user-details h3 {
  color: #f6cf57;
}

.user-details table {
  width: 100%;
  border-collapse: collapse;
  background-color: #3e5c76;
  color: #ffffff;
  margin-top: 20px;
}

.user-details th,
.user-details td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-details th {
  cursor: pointer;
}

.user-details th:hover {
  color: #f6cf57;
}

.user-details td {
  font-weight: normal;
}

.user-details td.bold {
  font-weight: bold;
}

.user-details button {
  padding: 12px 20px;
  margin-top: 20px;
  background-color: #f6cf57;
  border: none;
  color: #333;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.user-details button:hover {
  background-color: #e5b744;
}

.user-details .input-row {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.user-details input[type="text"] {
  width: 60%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: #333;
  margin-right: 10px;
}

.user-details .input-row button {
  padding: 0.5rem 1rem;
  margin-top: 0;
  background-color: #f6cf57;
  border: none;
  color: #333;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.user-details .input-row button:hover {
  background-color: #e5b744;
}

.user-details .map-container {
  height: 400px;
  width: 50%;
  margin-top: 20px;
}

/* Pokemon Form Component */

.pokemon-form {
  background-color: #3e5c76;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 0 auto;
  color: #ffffff;
}

.pokemon-form h1 {
  color: #f6cf57;
}

.pokemon-form label {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
}

.pokemon-form input[type="text"],
.pokemon-form input[type="number"],
.pokemon-form input[type="datetime-local"],
.pokemon-form select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: #333;
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.pokemon-form input[type="checkbox"] {
  margin-left: 0.5rem;
}

.pokemon-form ul {
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  max-height: 150px;
  overflow-y: auto;
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.pokemon-form ul li {
  padding: 0.5rem;
  cursor: pointer;
}

.pokemon-form ul li:hover {
  background-color: #f6cf57;
  color: #333;
}

.pokemon-form .button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pokemon-form button {
  width: 100%;
  max-width: 200px;
  padding: 12px;
  background-color: #f6cf57;
  border: none;
  color: #333;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.pokemon-form button:hover {
  background-color: #e5b744;
}

.pokemon-form .map-container {
  width: 100%;
  height: 400px;
  margin-top: 1rem;
  box-sizing: border-box;
}

.back-button {
  margin-top: 20px;
}
